/*
=======================================
Table of Contents:
1. Universal Elements
2. Text Styles
3. Media Queries
=======================================
*/

/*
=======================================
1. Universal Elements
=======================================
*/

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: initial;
}



/*
=======================================
2. Text Styles
=======================================
*/

.navbar .navbar-brand {
    font-size: 35px;
    transition: 0.9s;
    overflow: hidden;
}

a {
    font-size: 25px;
}

/*
=======================================
3. Media Queries
=======================================
*/

@media (min-width: 765px) {
    body {
        background: url(spf.jpg);
        background-size: cover;
        background-color: grey;
        background-repeat: no-repeat;
        z-index: 5;
    }
}

@media (max-width: 700px) {


    body {
        background: url(india.jpg);
        background-size: cover;
        background-color: black;
        background-repeat: no-repeat;
        z-index: 5;
    }

}